<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.gs.geo"
    versionCode = "1"
    version     = "1.0.0" >
  <name>Geolocation</name>
  <description>
      A simple homework.
  </description>
</widget>
